*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.banner-card{
  width: 100vw;
  height: 50vh;
  position: relative;
}

.banner-img{
  width: 100vw;
  height: 50vh;
}

.banner-img:hover{
  opacity: 30%;
}

.banner-title{
  position: absolute;
  top: 20vh;
  left: 2rem;
  color: black;
}

.banner-text{
  position: absolute;
  color: black;
  top: 25vh;
  left: 2rem;
  font-size: 2rem;
}


.movies-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movies-card{
  height: 20vh;
  width: 20vw;
  margin: 1rem;
  border-radius: 1rem;
  position: relative;
}

.movie-img{
  height: 20vh;
  width: 20vw;
  border-radius: 1rem;
}

.movie-title{
  color:white;
  position: absolute;
  padding: 1rem;
}

.btn-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-btn{
  position: absolute;
  bottom: 2rem;
}


/* WE ALWAYS PUT MEDIA QUERY IN THE LAST OF THE CSS */
@media screen and (max-width:425px){

  .banner-card{
    height: 40vh;
    width: 100vw;
  }

  .banner-img{
    height: 30vh;
    width: 100vw;
  }

  .banner-content{
    height: 10vh;
    width: 100vw;
    position: relative;
  }
  .banner-title{
    top: 0.5rem;
    left: 1rem;
    font-size: 1rem;
  }

  .banner-text{
    top: 2rem;
    left: 1rem;
    font-size: 0.6rem;
  }

  .movies-card{
    width: 40vw;
    height: 20vh;
    margin: 1rem;
    border-radius: 1rem;
    position: relative;
  }

  .movie-img{
    height: 20vh;
    width: 40vw;
    border-radius: 1rem;  
  }

  .movie-title{
    color:white;
    position: absolute;
    padding: 1rem;
    font-size: 1rem;
  }

  .movie-btn{
    position: absolute;
    bottom: 1rem;
  }




}